<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Password</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUsers">
      <th>{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.password}}</td>
    </tr>
  </tbody>
</table>
