<ngb-toast *ngFor="let note of notificationService.notifications"
           [header]="note.head" [autohide]="true" [delay]="note.delay"
           (hide)="notificationService.remove(note)">
  <p id="message">{{note.message}}</p>
</ngb-toast>
