<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between sticky-top container-fluid">

  <button class="navbar-toggler order-0" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-brand order-1">
    Hackerspace
  </div>

  <div *ngIf="!loginService.currentUser" ngbDropdown class="order-2 order-lg-3">
    <div class="btn-group">
      <button class="btn btn-outline-primary" routerLink="login">
        Sign in
      </button>
      <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right p-2" style="min-width: 250px">
        <app-login></app-login>
      </div>
    </div>
  </div>

  <div *ngIf="loginService.currentUser" ngbDropdown class="order-2 order-lg-3">
    <div class="btn-group">
      <button class="btn btn-outline-primary">
        {{loginService.currentUser.firstName}} {{loginService.currentUser.lastName}} ({{loginService.currentUser.username}})
      </button>
      <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
    </div>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
      <button ngbDropdownItem class="dropdown-item" (click)="loginService.signOut()">
        Sign out
      </button>
      <a ngbDropdownItem class="dropdown-item" *ngxPermissionsOnly="'ADMIN'" routerLink="admin">
        Open Admin-Panel
      </a>
    </div>
  </div>

  <div class="collapse navbar-collapse justify-content-between order-3 order-lg-2" id="navbarNav" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>
