<div *ngIf="post">
  <h1>{{post.title}}</h1>
  <time [dateTime]="post.date">{{post.date | date}}</time>
  <time class="float-right">{{post.date | date: 'shortTime'}}</time>
  <p>{{getTimeToRead()}}</p>
  <div [innerHTML]="post.content"></div>
</div>
