<div class="card my-2">
  <div class="card-body">
    <h4 class="card-title">{{blogPost.title}}</h4>
    <p class="card-text" [innerHTML]="blogPost.content.slice(0, 250) + '[...]' "></p>
  </div>
  <a routerLink="/blog/post/{{blogPost.id}}" class="card-footer">Read further</a>
</div>
