<h1>Register</h1>

<form class="form-group">
  <label for="firstName">First Name</label>
  <input type="text" class="form-control" id="firstName"
         [(ngModel)]="newUser.firstName" name="firstName"
         placeholder="First Name">
  <label for="lastName">Last Name</label>
  <input type="text" class="form-control" id="lastName"
         [(ngModel)]="newUser.lastName" name="lastName"
         placeholder="Last Name">
  <label for="username">Username</label>
  <input type="text" class="form-control" id="username"
         [(ngModel)]="newUser.username" name="username"
         placeholder="Username">
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password"
         [(ngModel)]="newUser.password" name="password"
         placeholder="Password">
  <label for="confirmPassword">Confirm Password</label>
  <input [(ngModel)]="passwordConfirm" name="passwordConfirm"
         class="form-control" id="confirmPassword"
         placeholder="Password" type="password">
  <button class="btn btn-primary mt-2" (click)="register()">Sign up</button>
</form>
