<div *ngxPermissionsOnly="'ADMIN'">
  <h1 class="text-uppercase d-flex justify-content-center">Admin-Panel</h1>
  <button class="btn btn-primary" routerLink="/blog/NewEntry">Add Blog-Post</button>
  <app-user-list></app-user-list>
</div>
