<h3>Login</h3>
<form class="form-group">
  <label for="username">Username</label>
  <input id="username" #username
         class="form-control" placeholder="Username">
  <label for="password">Password</label>
  <input type="password" id="password" #password
         class="form-control" placeholder="Password">

  <button class="btn btn-primary mt-2"
          (click)="login(username.value, password.value)">
    Sign in
  </button>
  <button class="btn btn-secondary mt-2 ml-2" routerLink="/register">
    Sign up
  </button>
</form>
