<ngb-tabset class="ml-5">
  <ngb-tab title="Editor">
    <ng-template ngbTabContent>
      <div class="form-group">
        <label for="Title">Title</label>
        <input class="form-control" [(ngModel)]="BlogEntry.title" id="Title" placeholder="Title">
      </div>
      <quill-editor [(ngModel)]="BlogEntry.content" [styles]="{height: '250px'}" [modules]="quillConfig" (onContentChanged)="estimateReadTime()">
      </quill-editor>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Preview">
    <ng-template ngbTabContent>
      <app-blogpost [post]="BlogEntry"></app-blogpost>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
